<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <servlet>
        <servlet-name>ServletLogout</servlet-name>
        <servlet-class>ControladoresServlets.ServletLogout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletdeArranque</servlet-name>
        <servlet-class>ControladoresServlets.ServletdeArranque</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ConsultadePerfil</servlet-name>
        <servlet-class>ControladoresServlets.ConsultadePerfil</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletColaboracion</servlet-name>
        <servlet-class>ControladoresServlets.ServletColaboracion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletAltaPropuesta</servlet-name>
        <servlet-class>ControladoresServlets.ServletAltaPropuesta</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DatosdePrueba</servlet-name>
        <servlet-class>ControladoresServlets.DatosdePrueba</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletLogin</servlet-name>
        <servlet-class>ControladoresServlets.ServletLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletSeguir</servlet-name>
        <servlet-class>ControladoresServlets.ServletSeguir</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DejarDeSeguir</servlet-name>
        <servlet-class>ControladoresServlets.DejarDeSeguir</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletCancelarPropuesta</servlet-name>
        <servlet-class>ControladoresServlets.ServletCancelarPropuesta</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletFavorito</servlet-name>
        <servlet-class>ControladoresServlets.ServletFavorito</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ConsultadePropuestaPorEstado</servlet-name>
        <servlet-class>ControladoresServlets.ConsultadePropuestaPorEstado</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletComentario</servlet-name>
        <servlet-class>ControladoresServlets.ServletComentario</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ConsultadePropuesta</servlet-name>
        <url-pattern>/ConsultadePropuesta</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConsultadePerfil</servlet-name>
        <url-pattern>/ConsultadePerfil</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletColaboracion</servlet-name>
        <url-pattern>/ServletColaboracion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletAltaPropuesta</servlet-name>
        <url-pattern>/AltaPropuesta</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DatosdePrueba</servlet-name>
        <url-pattern>/DatosdePrueba</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletLogin</servlet-name>
        <url-pattern>/ServletLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletSeguir</servlet-name>
        <url-pattern>/ServletSeguir</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DejarDeSeguir</servlet-name>
        <url-pattern>/DejarDeSeguir</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletCancelarPropuesta</servlet-name>
        <url-pattern>/CancelarPropuesta</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletFavorito</servlet-name>
        <url-pattern>/AgregarFavorita</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConsultadePropuestaPorEstado</servlet-name>
        <url-pattern>/ConsultaPorEstado</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletComentario</servlet-name>
        <url-pattern>/ServletComentario</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>ServletdeArranque</welcome-file>
    </welcome-file-list>
    <servlet>
        <servlet-name>ConsultadePropuesta</servlet-name>
        <servlet-class>ControladoresServlets.ConsultadePropuesta</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletLogout</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletdeArranque</servlet-name>
        <url-pattern>/ServletdeArranque</url-pattern>
    </servlet-mapping>
</web-app>
